[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynamodb = "*"
flask-script = "*"
python-dotenv = "*"
flask-sessionstore = "*"
boto3 = "*"
flask = "<2.3"
flask-login = "*"
flask-session = "*"
mypy-boto3-dynamodb = "*"

[dev-packages]

[requires]
python_version = "3.8"
